.feedback-form {
    display: block;
}

label {
    display: block;
}

input {
    display: block;
    width: 360px;
    height: 40px;
    margin-bottom: 8px;
    border-radius: 5px;
}

input:hover {
    border: 1px solid rgba(0, 0, 0, 1)
}

input:active {
    border: 1px solid rgba(128, 128, 128, 1)
}

textarea {
    display: block;
    gap: 8px;
    width: 360px;
    height: 80px;
    resize: none;
    border-radius: 5px;
}

button {
    background-color: rgba(78, 117, 255, 1);
    color: rgba(255, 255, 255, 1);
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 8px;
    border: none;
    width: 95px;
    height: 40px;
    margin-top: 16px;
}

button:hover {
    background-color: rgba(108, 140, 255, 1);
}