body {
  padding: 50px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover {
  transform: scale(1.044);
}

.gallery-image {
  width: 360px;
  height: 200px;
  width: 100%;
  height: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover .gallery-image {
  transform: scale(1.044);
}